html body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#app {
    width: 100%;
    overflow: hidden;
}

.info div {
    text-align: center;
}

.row {
    width: 100%;
    overflow: hidden;
}

.col {
    float: left;
    height: 220px;
    text-align: center;
    vertical-align : bottom;
    position: relative;
}

.col input {
    width: 50px;
    font-size: 20px;
}

.col-3 {
    width: 33%;
}

.col-5 {
    width: 20%;
}

.col img {
    width: 80%;
}

.col button {
    font-size: 20px;
}

.float-bottom {
    position: absolute;
    bottom: 0;
}

.note {
    float: left;
    width: 24%;
    height: 200px;
    border: 1px solid black;
}

.control-btn {
    width: 100%;
    font-size: 40px;
    text-align: center;
}

.box{
    float: center;
    width: 80%;
    height: 80px;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    vertical-align : bottom;
    position: relative;
}

.top10 {
    margin-top:20px;
}

.top125 {
    margin-top:25px;
}

.top15 {
    margin-top:30px;
}

.top20 {
    margin-top:40px;
}


